* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  background-color: #F5F5F5;
}

#container {
  /* width: 100%; */
  display: flex;
  height: 100vh;
}

#left {
  position: relative;
  width: 15%;
  background-color: #fff;
}

.wrapper-logo {
  padding: 24px
}

menu ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 4px
}

menu li {
  position: relative;
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 25px;
  font-weight: 500;
  font-size: 14px;
  color: #545454;
  cursor: pointer;
}

li:hover, .active {
  color: #2C4BEE;
  background-color: #EAF1FE;
}

.arrow {
  position: absolute;
  right: 10px;
  border: solid #545454;
  border-width: 0 2px 2px 0;
  padding: 2px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.footer-left {
  position: absolute;
  left: 8px;
  bottom: 32px;
  width: 95%;
}

#right {
  /* right: 30%; */
  flex: 1
}

.wrapper-filter {
  display: flex;
  justify-content: end;
  align-items: center;
}

.wrapper-section {
  display: flex;
  gap: 12px
}

.section {
  flex: 1;
  background-color: #fff;
  padding: 8px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  min-height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
}

.section-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}

.percent {
  position: relative;
  font-weight: 400;
  font-size: 12px;
  color: #3DB32C;
  display: flex;
  align-items: center;
  gap: 5px;
}

.increase {

}

.decrease {

}

.google-map iframe{
  width: 100%;
  background-color: #c6c6c6;
  height: 290px;
  border-radius: 8px;
}

.wrapper-chart {
  display: flex;
  gap: 10px;
  height: calc(100vh - 504px - 24px);
}

.wrapper-chart-left {
  width: 70%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.03);
  height: inherit;
}

.header-chart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

.title-chart {
  font-weight: 700;
  font-size: 16px;
}

.group-btn-action {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-action {
  background-color: #EEF3FF;
  padding: 5px;
  cursor: pointer;
}

.container-table {
  overflow-y: scroll;
  height: calc(86%);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: auto;
  caption-side: top;
  empty-cells: hide;
  table-layout: auto;
}
th,
td {
  padding: 8px 12px;
  text-align: left;
  vertical-align: top;
}

tr:not(:first-child):hover {
  /* color: #2C4BEE; */
  background-color: #EAF1FE;
}

.circle-full {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3DB32C;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #BFBFBF;
}

.wrapper-chart-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px
}

.chart {
  flex: 1;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.03);
}



.flex {
  display: flex; 
  align-items: center; 
  gap: 5px;
}

h3 { margin: 0 }

.dropdown {
  position: relative;
}

.btn-dropdown {
  border: none;
  padding: 0;
  border-radius: 8px;
}

.btn-download-dropdown, .btn-collapse {
  border: 0;
  /* background-color: transparent; */
}

.menu-dropdown {
  position: absolute;
  background: #fff;
  margin-top: 10px;
  width: 200px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  list-style: none;
  opacity: 0;
  pointer-events: none;
  gap: 5px;
  transition: all 0.5s ease;
  transform: translateY(-10px);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  z-index: 9;
  padding: 8px;
  margin-left: 20px;
}

.menu-dropdown li {
  cursor: pointer;
}

.menu-dropdown li:hover, .menu-dropdown.active {
  color: #2C4BEE;
  background-color: #EAF1FE;
}

.btn-dropdown:focus > .menu-dropdown,
.btn-download-dropdown:focus > .menu-dropdown {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0px);
}

.child-collapse {
  max-height: 0px;
  overflow: hidden;
  transition: 1s all ease-in-out;
}

.btn-collapse:focus > .child-collapse {
  max-height: 100vh;
}

.chart {
  height: inherit;
}

/* Bar chart */
.bar-chart-data {
  display:table;
  table-layout: fixed;   
  
  width:100%;
  height: 60%;
  margin:0 auto;
  
  background-size: 100% 50px;
  background-position: left top;
}

.bar-chart-data li {
  position: relative;
  display:table-cell;
  vertical-align:bottom;
  padding: 0;
  font-size: 12px;
}

.bar-chart-data span {
  margin:0 1.5rem;
  display: block;
  background-color: #CF1322;
  animation: draw 1s ease-in-out;
}

.bar-chart-data span:before{
  position:absolute;
  left:0;
  right:0;
  top:100%;
  padding:5px 1em 0;
  display:block;
  text-align:center;
  content:attr(title);
  word-wrap: break-word;
}

@keyframes draw{
  0%{height:0;} 
}

.block {
  /* background: #394264; */
  border-radius: 5px;
  width: 500px;
  overflow: hidden;
}

/******************************************** LEFT CONTAINER *****************************************/


.bar-chart-block {
  height: 140px;
}


/******************************************
↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓
ESTILOS PROPIOS DE LOS GRÄFICOS
↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ 
GRAFICO LINEAL
******************************************/

.grafico {
  padding: 2rem 1rem 1rem;
  width: 100%;
  height: 100%;
  position: relative;
  color: #fff;
  font-size: 80%;
}

.grafico span {
  display: block;
  position: absolute;
  bottom: 3rem;
  left: 2rem;
  height: 0;
  border-top: 2px solid;
  transform-origin: left center;
}

.grafico span>span {
  left: 100%;
  bottom: 0;
}

[data-valor]:before {
  content: '';
  position: absolute;
  display: block;
  right: -4px;
  bottom: -3px;
  padding: 4px;
  background: #fff;
  border-radius: 50%;
}

[data-valor='23']:after {
  content: '+' attr(data-valor) '%';
  position: absolute;
  right: -2.7rem;
  top: -1.7rem;
  padding: .3rem .5rem;
  background: #50597B;
  border-radius: .5rem;
  transform: rotate(45deg);
}

[class^='eje-'] {
  position: absolute;
  left: 0;
  bottom: 0rem;
  width: 100%;
  padding: 1rem 1rem 0 2rem;
  height: 70%;
}

.eje-x {
  height: 1.3rem;
}

.eje-y li {
  height: 25%;
  border-top: 1px solid #777;
}

.eje-z li {
  height: 20%;
}

[data-ejeY]:before {
  content: attr(data-ejeY);
  display: inline-block;
  width: 2rem;
  text-align: right;
  line-height: 0;
  position: relative;
  left: -2.5rem;
  top: -.5rem;
}

[data-ejeZ]:after {
  content: attr(data-ejeZ);
  display: inline-block;
  width: 100%;
  text-align: right;
  line-height: 0;
  position: relative;
  right: -2rem;
  top: -.5rem;
}

.eje-x li {
  width: 33%;
  float: left;
  text-align: center;
}

/**************************
BAR-CHART
**************************/
.grafico.bar-chart {
  background: #fff;
  padding: 0 1rem 0rem 1rem;
  width: 95%;
  height: 100%;
  position: relative;
  color: #000;
  font-size: 80%;
}

.bar-chart [class^='eje-'] {
  padding: 0 3rem 0 3rem;
  bottom: 1rem;
  list-style: none;
}

.bar-chart .eje-x {
  bottom: 0;
  list-style: none;
}

.bar-chart .eje-y li {
  height: 20%;
  border-top: 1px solid #000;
}

.bar-chart .eje-y li {
  height: 20%;
}

.bar-chart .eje-x li {
  width: 14%;
  position: relative;
  text-align: center;
}

.bar-chart .eje-x li i {
  /* transform: rotatez(-45deg) translatex(-1rem); */
  transform-origin: 30% 60%;
  display: block;
}

.bar-chart .eje-x li:before {
  content: '';
  position: absolute;
  bottom: 1.9rem;
  width: 20%;
  right: 15%;
  box-shadow: 3px 0 rgba(0, 0, 0, .1), 3px -3px rgba(0, 0, 0, .1);
}

.bar-chart .eje-x li:after {
  content: '';
  position: absolute;
  bottom: 1.9rem;
  width: 20%;
  right: 40%;
  box-shadow: 3px 0 rgba(0, 0, 0, .1), 3px -3px rgba(0, 0, 0, .1);
}

.bar-chart .eje-x li:nth-child(1):after {
  background: #CF1322;
  height: 570%;
}

.bar-chart .eje-x li:nth-child(2):after {
  background: #CF1322;
  height: 900%;
}

.bar-chart .eje-x li:nth-child(3):after {
  background: #CF1322;
  height: 400%;
}

.bar-chart .eje-x li:nth-child(4):after {
  background: #CF1322;
  height: 290%;
}

.bar-chart .eje-x li:nth-child(5):after {
  background: #CF1322;
  height: 720%;
}

.bar-chart .eje-x li:nth-child(6):after {
  background: #CF1322;
  height: 820%;
}

.bar-chart .eje-x li:nth-child(7):after {
  background: #CF1322;
  height: 520%;
}

.bar-chart .eje-x li:nth-child(1):before {
  background: #FFC107;
  height: 270%;
}

.bar-chart .eje-x li:nth-child(2):before {
  background: #FFC107;
  height: 400%;
}

.bar-chart .eje-x li:nth-child(3):before {
  background: #FFC107;
  height: 900%;
}

.bar-chart .eje-x li:nth-child(4):before {
  background: #FFC107;
  height: 790%;
}

.bar-chart .eje-x li:nth-child(5):before {
  background: #FFC107;
  height: 320%;
}

.bar-chart .eje-x li:nth-child(6):before {
  background: #FFC107;
  height: 120%;
}

.bar-chart .eje-x li:nth-child(7):before {
  background: #FFC107;
  height: 920%;
}

.bar-chart .eje-x li:hover,
.bar-chart .eje-y li:hover,
.bar-chart .eje-z li:hover {
  background-color: inherit;
}